# Base de datos
DATABASE_URL="postgresql://campus_gps:campus_gps_dev@localhost:5432/campus_gps?schema=public"

# Servidor
PORT=3000
CORS_ORIGIN="http://localhost:8081"

# Mobile (Expo public)
EXPO_PUBLIC_API_URL="http://10.0.2.2:3000"
EXPO_PUBLIC_MAP_STYLE_URL="https://demotiles.maplibre.org/style.json"
